@media only screen and (max-width: 767px) {

    .imgp1{
        width: 90%;
        height: 40%;
        margin-top: 5%;
        border-radius: 10px;
    }
    
    .tltp1{
        font-family: 'Montserrat', sans-serif;
        margin-top: 0%;
        font-size: 17px;
        color: white;
    }
    
    .txtp1{
        font-size: 12px;
        font-family: 'Montserrat', sans-serif;
        margin-top: 3%;
        color: white;
        width: 90%;
        text-align: center;
    }
    .opp1{
        font-size: 11px;
        font-family: 'Montserrat', sans-serif;
        cursor: pointer;
        margin-top: 4%;
        display: flex;
        color: white;
        width: 85%;
        justify-content: space-between;
    }
    .opp2{
        font-size: 11px;
        font-family: 'Montserrat', sans-serif;
        cursor: pointer;
        display: flex;
        color: white;
        margin-top: 29%;
        width: 85%;
        justify-content: space-between;
    }
    .opp3{
        font-size: 11px;
        font-family: 'Montserrat', sans-serif;
        cursor: pointer;
        display: flex;
        color: white;
        margin-top: 29%;
        width: 85%;
        justify-content: space-between;
    }

    .navbar {
        height: 11%;
    }

    .textmenu {
        position: absolute;
        font-size: 28px;
        top: 32%;
        left: 5%;
    }

    .bloco1 {
        display: flex;
        align-items: center;
        position: absolute;
        transform: translate(-50%, -50%);
        left: 50%;
        top: 50%;
        width: 90%;
        height: 50%;
    }

    .nome {
        font-size: 210%;
    }

    .ds {
        text-align: center;
    }

    .ds1 {
        font-size: 140%;
        margin-top: -5%;
    }

    .imgredes {
        width: 120%;
        height: 80%;
    }

    .subbloco1 {
        display: flex;
        justify-content: space-around;
        position: absolute;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 125px;
        top: 84%;
    }

    .imgsobre {
        display: none;
    }

    .cardapio1 {
        position: absolute;
    }

    .blocosobre {
        height: 50%;
    }

    .gr1 {
        position: absolute;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 170px;
        height: 30px;
    }

    .txt123 {
        color: white;
    }

    .cardapio2 {
        position: absolute;
    }

    .sobre {
        position: absolute;
        width: 95%;
        
        transform: translate(-50%, -50%);
        left: 50%;
        top: 50%;
        color: white;
        font-family: 'Montserrat', sans-serif;
    }

    .prf{
        font-size: 67%;
        width: 300px;
        font-family: 'Montserrat', sans-serif;
        color: white;
        position: absolute;
        transform: translate(-50%, -50%);
        left: 50%;
        top: 70%;
    }

    .textsobre {
        width: 100%;
        font-size: 57%;
    }

    .div1 {
        position: absolute;
        top: 179%;
        width: 300px;
        height: 60%;

        .projeto1 {
            &[data-aberto="2"] {
                background-color: black;
                position: absolute;
                z-index: 1;
                opacity: 100%;
                left: 50%;
                transform: translate(-50%, -50%);
                top: 48%;
                width: 200px;
                height: 340px;
                border: 1px #00ab6e solid;
                box-shadow: 1px 1px 10px #00ab6e;
                border-radius: 5px;
                transition: 300ms;
            }

            &[data-aberto="1"] {
                background-color: black;
                position: absolute;
                z-index: 0;
                opacity: 50%;
                left: 60%;
                transform: translate(-73.50%, -50%);
                width: 200px;
                top: 48%;
                height: 280px;
                border: 1px #00ab6e solid;
                box-shadow: 1px 1px 10px #00ab6e;
                border-radius: 5px;
                transition: 300ms;
            }

            &[data-aberto="3"] {
                background-color: black;
                position: absolute;
                z-index: 0;
                opacity: 50%;
                left: 40%;
                width: 200px;
                transform: translate(-27%, -50%);
                top: 48%;
                height: 280px;
                border: 1px #00ab6e solid;
                box-shadow: 1px 1px 10px #00ab6e;
                border-radius: 5px;
                transition: 300ms;
            }
        }

        .p1 {
            font-family: 'Geologica', sans-serif;
            text-align: center;
            margin-top: 85%;
            color: white;
            font-size: 25px;
        }

        .projeto2 {
            &[data-aberto="2"] {
                background-color: black;
                position: absolute;
                z-index: 1;
                opacity: 100%;
                left: 50%;
                transform: translate(-50%, -50%);
                top: 48%;
                width: 200px;
                height: 340px;
                border: 1px #00ab6e solid;
                box-shadow: 1px 1px 10px #00ab6e;
                border-radius: 5px;
                transition: 300ms;
            }

            &[data-aberto="1"] {
                background-color: black;
                position: absolute;
                z-index: 0;
                opacity: 50%;
                left: 60%;
                transform: translate(-73.50%, -50%);
                width: 200px;
                top: 48%;
                height: 280px;
                border: 1px #00ab6e solid;
                box-shadow: 1px 1px 10px #00ab6e;
                border-radius: 5px;
                transition: 300ms;
            }

            &[data-aberto="3"] {
                background-color: black;
                position: absolute;
                z-index: 0;
                opacity: 50%;
                left: 40%;
                transform: translate(-27%, -50%);
                width: 200px;
                top: 48%;
                height: 280px;
                border: 1px #00ab6e solid;
                box-shadow: 1px 1px 10px #00ab6e;
                border-radius: 5px;
                transition: 300ms;
            }
        }
        .p2 {
            font-family: 'Geologica', sans-serif;
            text-align: center;
            margin-top: 85%;
            color: white;
            font-size: 25px;
        }

        .projeto3 {
            &[data-aberto="2"] {
                background-color: black;
                position: absolute;
                z-index: 1;
                opacity: 100%;
                left: 50%;
                transform: translate(-50%, -50%);
                top: 48%;
                width: 200px;
                height: 340px;
                border: 1px #00ab6e solid;
                box-shadow: 1px 1px 10px #00ab6e;
                border-radius: 5px;
                transition: 300ms;
            }

            &[data-aberto="1"] {
                background-color: black;
                position: absolute;
                z-index: 0;
                opacity: 50%;
                left: 60%;
                transform: translate(-73.50%, -50%);
                width: 200px;
                top: 48%;
                height: 280px;
                border: 1px #00ab6e solid;
                box-shadow: 1px 1px 10px #00ab6e;
                border-radius: 5px;
                transition: 300ms;
            }

            &[data-aberto="3"] {
                background-color: black;
                position: absolute;
                z-index: 0;
                opacity: 50%;
                left: 40%;
                width: 200px;
                transform: translate(-27%, -50%);
                top: 48%;
                height: 280px;
                border: 1px #00ab6e solid;
                box-shadow: 1px 1px 10px #00ab6e;
                border-radius: 5px;
                transition: 300ms;
            }
        }

        .p3 {
            font-family: 'Geologica', sans-serif;
            text-align: center;
            margin-top: 85%;
            color: white;
            font-size: 25px;
        }
    }

    .gr2 {
        position: absolute;
        left: 50%;
        transform: translate(-50%, -50%);
        top: -8%;
        width: 200px;
        height: 30px;
    }

    .projetos {
        position: absolute;
        font-size: 19px;
        top: -50%;
        left: 33%;
        color: white;
        font-family: 'Montserrat', sans-serif;
    }

    .cardapio3 {
        position: absolute;
        width: 50px;
        left: 5%;
    }

    .cardapio4 {
        position: absolute;
        width: 50px;
        left: 75%;
    }

    .btnmaior {
        left: 90%;
        transform: translate(-50%, -50%);
        top: 50%;
        font-size: 20px;
    }

    .btnmenor {
        left: 5%;
        transform: translate(-50%, -50%);
        top: 50%;
        font-size: 20px;
    }

    .blocohabilidades {
        &[data-aberto="open"] {
            position: absolute;
            top: 235%;
            width: 100%;
            height: 800px;
            background: #0b0b0b;
            transition: 800ms;
        }

        &[data-aberto="close"] {
            position: absolute;
            top: 210%;
            width: 100%;
            height: 463px;
            background: #0b0b0b;
            transition: 800ms;
        }
    }

    .cardapio5 {
        position: absolute;
        top: 11%;
        width: 60px;
    }

    .gr3 {
        position: absolute;
        left: 50%;
        transform: translate(-50%, -50%);
        top: 6%;
        width: 210px;
        height: 40px;
    }

    .habilidades {
        position: absolute;
        font-size: 15px;
        left: 30%;
        color: white;
        font-family: 'Montserrat', sans-serif;
    }

    .cardapio6 {
        position: absolute;
        top: 11%;
        left: 73%;
        width: 60px;
    }

    .texth1 {
        &[data-aberto="close"] {
            font-family: 'Roboto', sans-serif;
            position: absolute;
            color: white;
            top: 120px;
            transform: translate(-50%, -50%);
            left: 50%;
            font-size: 20px;
            background: #0b0b0b;
            border-radius: 20px;
            width: 90%;
            height: 100px;
            padding: 2%;
            transition: 800ms;
        }

        &[data-aberto="open"] {
            font-family: 'Roboto', sans-serif;
            top: 160px;
            position: absolute;
            color: white;
            transform: translate(-50%, -50%);
            left: 50%;
            width: 90%;
            font-size: 20px;
            background: #0b0b0b;
            border-radius: 20px;
            height: 100px;
            padding: 2%;
            transition: 800ms;
        }
    }

    .imghtml {
        display: none;
        position: absolute;
        left: 105%;
        bottom: 27%;
    }

    .texth2 {
        &[data-aberto="close"] {
            font-family: 'Roboto', sans-serif;
            position: absolute;
            color: white;
            top: 280px;
            transform: translate(-50%, -50%);
            left: 50%;
            width: 90%;
            font-size: 20px;
            background: none;
            border-radius: 20px;
            opacity: 20%;
            height: 100px;
            padding: 2%;
            transition: 800ms;
        }

        &[data-aberto="open"] {
            font-family: 'Roboto', sans-serif;
            position: absolute;
            color: white;
            top: 310px;
            transform: translate(-50%, -50%);
            left: 50%;
            width: 90%;
            font-size: 20px;
            background: #0b0b0b;
            border-radius: 20px;
            height: 100px;
            padding: 2%;
            transition: 800ms;
        }

    }

    .imgcss {
        display: none;
        position: absolute;
        left: 105%;
        bottom: 27%;
    }

    .texth3 {
        &[data-aberto="close"] {
            opacity: 0%;
            font-family: 'Roboto', sans-serif;
            position: absolute;
            color: white;
            top: 280px;
            transform: translate(-50%, -50%);
            left: 50%;
            width: 90%;
            font-size: 20px;
            background: #0b0b0b;
            border-radius: 20px;
            height: 100px;
            padding: 2%;
            transition: 10ms;
        }

        &[data-aberto="open"] {
            font-family: 'Roboto', sans-serif;
            position: absolute;
            color: white;
            top: 450px;
            transform: translate(-50%, -50%);
            left: 50%;
            width: 90%;
            font-size: 20px;
            background: #0b0b0b;
            border-radius: 20px;
            height: 100px;
            padding: 2%;
            transition: 500ms;
        }
    }

    .imgjs {
        display: none;
        position: absolute;
        left: 105%;
        bottom: 27%;
    }

    .btnv {
        &[data-aberto="close"] {
            position: absolute;
            transform: translate(-50%, -50%);
            left: 50%;
            top: 300px;
            border: 1px #00ab6e solid;
            cursor: pointer;
            background: black;
            color: white;
            font-size: 15px;
            padding: 10px;
            border-radius: 10px;
            font-family: 'Montserrat', sans-serif;
            transition: 800ms;
        }

        &[data-aberto="open"] {
            position: absolute;
            transform: translate(-50%, -50%);
            left: 50%;
            top: 620px;
            border: 1px #00ab6e solid;
            cursor: pointer;
            background: black;
            color: white;
            font-size: 15px;
            padding: 10px;
            border-radius: 10px;
            font-family: 'Montserrat', sans-serif;
            transition: 800ms;
        }
    }

    .blocofinal {
        position: absolute;
        background-color: #000000;
        width: 100%;
        height: 80px;
        bottom: 0%;
    }

    .Fnome {
        position: absolute;
        color: white;
        font-size: 10px;
        top: 20%;
        left: 5%;
        font-family: 'Montserrat', sans-serif;
    }

    .email {
        position: absolute;
        color: white;
        font-size: 10px;
        top: 50%;
        left: 5%;
        font-family: 'Montserrat', sans-serif;
    }

    .imgredes1 {
        position: absolute;
        left: 1%;
        top: 7%;
        width: 30px;
        padding: 0.10%;
        border-radius: 10px;
        background: #1f1f1f;
    }

    .imgredes2 {
        position: absolute;
        left: 34%;
        top: 34%;
        width: 30px;
        padding: 0.10%;
        border-radius: 10px;
        background: #1f1f1f;
    }

    .imgredes3 {
        position: absolute;
        left: 67%;
        top: 57%;
        width: 30px;
        padding: 0.10%;
        border-radius: 10px;
        background: #1f1f1f;
    }

    .i11 {
        display: none;
        color: white;
    }

    .section2 {
        color: white;
        position: absolute;
        top: 62%;
    }

    .section3 {
        position: absolute;
        top: 122%;
        z-index: 10;
        color: white;
    }

    .section4 {
        color: wheat;
        position: absolute;
        top: 200%;
        z-index: 10;
    }

    .menu {
        display: none;
    }

    .menu2 {
        display: grid;
    }

    .iniciobtn {
        display: inline-block;
        position: absolute;
        left: 7px;
        top: 10px;
        width: 23px;
        height: 20px;
    }

    .sobrebtn {
        display: inline-block;
        position: absolute;
        left: 5px;
        top: 45px;
        width: 27px;
        height: 24px;
    }

    .projetosbtn {
        display: inline-block;
        position: absolute;
        left: 7.50px;
        top: 85px;
        width: 23px;
        height: 20px;
    }

    .habilidadesbtn {
        display: inline-block;
        position: absolute;
        top: 125px;
        left: 7px;
        width: 25px;
        height: 22px;
    }

    .btn1 {
        display: inline-block;
        text-decoration: none;
        border: none;
        color: rgb(255, 255, 255);
        background: none;
        margin-left: 10%;
        margin-top: 10%;
        cursor: pointer;
        font-size: 15px
    }

    .btnnavbar {
        display: inline-block;
        position: absolute;
        left: 84%;
        background: #1f1f1f;
        top: 31%;
        width: 33px;
        height: 30px;
        border-radius: 10px;
        transition: 800ms;
    }

    .imgbtnnavbar {
        position: absolute;
        display: inline-block;
        width: 100%;
        height: 100%;
    }

    .barra {
        &[data-aberto="close"] {
            display: flex;
            z-index: 1;
            top: 140%;
            right: -32px;
            position: absolute;
            background: #000000;
            border: 1px #00ab6e solid;
            width: 40px;
            height: 155px;
            transition: 400ms;
        }

        &[data-aberto="open"] {
            display: flex;
            z-index: 1;
            top: 140%;
            right: -1%;
            position: absolute;
            background: #000000;
            border: 1px #00ab6e solid;
            width: 40px;
            height: 155px;
            transition: 400ms;
        }
    }

    .redesF {
        display: inline-block;
        position: absolute;
        transform: translate(-50%, -50%);
        top: 50%;
        left: 85%;
        width: 100px;
        height: 100%;
    }

    .reactimg {
        display: none;
        position: absolute;
        top: 20%;
        left: 60%;
        width: 500px;
        height: 500px;
    }
}


@media only screen and (min-width: 768px) and (max-width: 1200px) {

    .imgp1{
        width: 90%;
        height: 40%;
        margin-top: 5%;
        border-radius: 10px;
    }
    
    .tltp1{
        font-family: 'Montserrat', sans-serif;
        margin-top: 5%;
        font-size: 20px;
        color: white;
    }
    
    .txtp1{
        font-size: 12px;
        font-family: 'Montserrat', sans-serif;
        margin-top: 5%;
        color: white;
        width: 90%;
        text-align: center;
    }
    .opp1{
        font-size: 15px;
        font-family: 'Montserrat', sans-serif;
        cursor: pointer;
        display: flex;
        color: white;
        margin-top: 8%;
        width: 90%;
        justify-content: space-between;
    }
    .opp2{
        font-size: 15px;
        font-family: 'Montserrat', sans-serif;
        cursor: pointer;
        display: flex;
        color: white;
        margin-top: 25%;
        width: 90%;
        justify-content: space-between;
    }
    .opp3{
        font-size: 15px;
        font-family: 'Montserrat', sans-serif;
        cursor: pointer;
        display: flex;
        color: white;
        margin-top: 25%;
        width: 90%;
        justify-content: space-between;
    }

    .reactimg{
        position: absolute;
        transform: translate(-50%,-50%);
        top: 50%;
        left: 77%;
        width: 350px;
        height: 350px;
    }

    .menu {
        position: absolute;
        width: 43%;
        right: 3%;
        top: 35%;
    }

    .bloco1 {
        display: flex;
        flex-direction: column;
        position: absolute;
        width: 500px;
        height: 150px;
        transform: translate(-50%, -50%);
        top: 50%;
        left: 35%;
    }

    .nome {
        color: white;
        font-family: 'Poppins', sans-serif;
        margin-top: 0%;
        font-size: 48px;
    }

    .gr1 {
        position: absolute;
        transform: translate(-50%,-50%);
        left: 35%;
        top: 10%;
        width: 200px;
        height: 30px;
    }

    .imgsobre {
        position: absolute;
        width: 250px;
        height: 280px;
        transform: translate(-50%, -50%);
        left: 83%;
        top: 50%;
        border-radius: 2px;
    }

    .sobre {
        position: absolute;
        width: 68%;
        font-size: 15px;
        transform: translate(-50%, -50%);
        left: 35%;
        top: 50%;
        color: white;
        font-family: 'Montserrat', sans-serif;
    }

    .prf{
        font-size: 15px;
        font-family: 'Montserrat', sans-serif;
        color: white;
        position: absolute;
        transform: translate(-50%, -50%);
        left: 35%;
        top: 70%;
    }

    .div1 {
        transform: translate(-50%,-50%);
        left: 50%;
        top: 200%;
        width: 80%;
        height: 550px;
        position: absolute;
        .projeto1 {
            &[data-aberto="2"] {
                background-color: black;
                position: absolute;
                z-index: 1;
                opacity: 100%;
                transform: translate(-50%,-50%);
                left: 50%;
                top: 43%;
                width: 250px;
                height: 350px;
                border: 1px #00ab6e solid;
                box-shadow: 1px 1px 10px #00ab6e;
                border-radius: 5px;
                transition: 300ms;
            }
    
            &[data-aberto="1"] {
                background-color: black;
                position: absolute;
                z-index: 0;
                opacity: 50%;
                transform: translate(-50%,-50%);
                left: 27%;
                top: 50%;
                width: 250px;
                height: 350px;
                border: 1px #00ab6e solid;
                box-shadow: 1px 1px 10px #00ab6e;
                border-radius: 5px;
                transition: 300ms;
            }
    
            &[data-aberto="3"] {
                background-color: black;
                position: absolute;
                z-index: 0;
                opacity: 50%;
                transform: translate(-50%,-50%);
                top: 50%;
                left: 73%;
                width: 250px;
                height: 350px;
                border: 1px #00ab6e solid;
                box-shadow: 1px 1px 10px #00ab6e;
                border-radius: 5px;
                transition: 300ms;
            }
        }
    
        .p1 {
            font-family: 'Geologica', sans-serif;
            text-align: center;
            margin-top: 50%;
            color: white;
            font-size: 25px;
        }
    
        .projeto2 {
            &[data-aberto="2"] {
                background-color: black;
                position: absolute;
                z-index: 1;
                opacity: 100%;
                transform: translate(-50%,-50%);
                left: 50%;
                top: 43%;
                width: 250px;
                height: 350px;
                border: 1px #00ab6e solid;
                box-shadow: 1px 1px 10px #00ab6e;
                border-radius: 5px;
                transition: 300ms;
            }
    
            &[data-aberto="1"] {
                background-color: black;
                position: absolute;
                z-index: 0;
                opacity: 50%;
                transform: translate(-50%,-50%);
                left: 27%;
                top: 50%;
                width: 250px;
                height: 350px;
                border: 1px #00ab6e solid;
                box-shadow: 1px 1px 10px #00ab6e;
                border-radius: 5px;
                transition: 300ms;
            }
    
            &[data-aberto="3"] {
                background-color: black;
                position: absolute;
                z-index: 0;
                opacity: 50%;
                transform: translate(-50%,-50%);
                top: 50%;
                left: 73%;
                width: 250px;
                height: 350px;
                border: 1px #00ab6e solid;
                box-shadow: 1px 1px 10px #00ab6e;
                border-radius: 5px;
                transition: 300ms;
            }
        }
    
        .p2 {
            font-family: 'Geologica', sans-serif;
            text-align: center;
            margin-top: 50%;
            color: white;
            font-size: 25px;
        }
    
        .projeto3 {
            &[data-aberto="2"] {
                background-color: black;
                position: absolute;
                z-index: 1;
                opacity: 100%;
                transform: translate(-50%,-50%);
                left: 50%;
                top: 43%;
                width: 250px;
                height: 350px;
                border: 1px #00ab6e solid;
                box-shadow: 1px 1px 10px #00ab6e;
                border-radius: 5px;
                transition: 300ms;
            }
    
            &[data-aberto="1"] {
                background-color: black;
                position: absolute;
                z-index: 0;
                opacity: 50%;
                transform: translate(-50%,-50%);
                left: 27%;
                top: 50%;
                width: 250px;
                height: 350px;
                border: 1px #00ab6e solid;
                box-shadow: 1px 1px 10px #00ab6e;
                border-radius: 5px;
                transition: 300ms;
            }
    
            &[data-aberto="3"] {
                background-color: black;
                position: absolute;
                z-index: 0;
                opacity: 50%;
                transform: translate(-50%,-50%);
                top: 50%;
                left: 73%;
                width: 250px;
                height: 350px;
                border: 1px #00ab6e solid;
                box-shadow: 1px 1px 10px #00ab6e;
                border-radius: 5px;
                transition: 300ms;
            }
        }
        .p3 {
            font-family: 'Geologica', sans-serif;
            text-align: center;
            margin-top: 50%;
            color: white;
            font-size: 25px;
        }
    }

    .gr2 {
        position: absolute;
        transform: translate(-50%, -50%);
        left:50%;
        top: 3.50%;
        width: 200px;
        height: 30px;
    }

    .btnmaior2 {
        cursor: pointer;
        position: absolute;
        transform: translate(-50%, -50%);
        left: 99%;
        top: 50%;
        border: none;
        background: none;
        border-radius: 3px;
        color: white;
        font-size: 30px;
    }
    
    .btnmenor {
        cursor: pointer;
        position: absolute;
        transform: translate(-50%, -50%);
        left: 1%;
        top: 50%;
        border: none;
        background: none;
        border-radius: 3px;
        color: white;
        font-size: 30px;
    }

    .texth1 {
        &[data-aberto="close"] {
            transform: translate(-50%, -50%);
            left: 45%;
            font-family: 'Roboto', sans-serif;
            position: absolute;
            color: white;
            top: 150px;
            font-size: 20px;
            background: #0b0b0b;
            border-radius: 20px;
            width: 45%;
            height: 100px;
            padding: 2%;
            transition: 800ms;
        }
    
        &[data-aberto="open"] {
            font-family: 'Roboto', sans-serif;
            position: absolute;
            color: white;
            top: 200px;
            transform: translate(-50%, -50%);
            left: 45%;
            font-size: 20px;
            background: #0b0b0b;
            border-radius: 20px;
            width: 45%;
            height: 100px;
            padding: 2%;
            transition: 800ms;
        }
    }
    
    .imghtml {
        position: absolute;
        left: 105%;
        bottom: 27%;
    }
    
    .texth2 {
        &[data-aberto="close"] {
            font-family: 'Roboto', sans-serif;
            position: absolute;
            color: white;
            top: 280px;
            transform: translate(-50%, -50%);
            left: 45%;
            font-size: 20px;
            background: none;
            border-radius: 20px;
            opacity: 20%;
            width: 45%;
            height: 100px;
            padding: 2%;
            transition: 800ms;
        }
    
        &[data-aberto="open"] {
            font-family: 'Roboto', sans-serif;
            position: absolute;
            color: white;
            top: 330px;
            transform: translate(-50%, -50%);
            left: 45%;
            font-size: 20px;
            background: #0b0b0b;
            border-radius: 20px;
            width: 45%;
            height: 100px;
            padding: 2%;
            transition: 800ms;
        }
    
    }
    
    .imgcss {
        position: absolute;
        left: 105%;
        bottom: 27%;
    }
    
    .texth3 {
        &[data-aberto="close"] {
            opacity: 0%;
            font-family: 'Roboto', sans-serif;
            position: absolute;
            color: white;
            top: 280px;
            transform: translate(-50%, -50%);
            left: 45%;
            font-size: 20px;
            background: #0b0b0b;
            border-radius: 20px;
            width: 45%;
            height: 100px;
            padding: 2%;
            transition: 10ms;
        }
    
        &[data-aberto="open"] {
            font-family: 'Roboto', sans-serif;
            position: absolute;
            color: white;
            top: 470px;
            transform: translate(-50%, -50%);
            left: 45%;
            font-size: 20px;
            background: #0b0b0b;
            border-radius: 20px;
            width: 45%;
            height: 100px;
            padding: 2%;
            transition: 500ms;
        }
    }
    
    .imgjs {
        position: absolute;
        left: 105%;
        bottom: 27%;
    }
}